@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1:Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:'Passion One', cursive;
    --fonte3:'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte1);
}

html, body{
    background-color: lightgray;
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 10vh;
    font-variant: small-caps;
    font-size: 7vw;
}

header > p{
    padding-bottom: 7vh;
    font-family: var(--fonte2);
}

header > p > a, footer > p > a{
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

header > p > a:hover, footer > p > a:hover{
    text-decoration: underline;
}

section > p{
    padding-left: 30px;
    line-height: 50px;
    font-size: 2.6vw;
    padding: 10px;
    font-family: var(--fonte3);
}

section.normal{
    background-color: white;
}

section.imagem{
    background-color: darkgrey;
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.161);
    display: inline-block;
    color: black
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}