@charset "UTF-8";

*{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #f17a18ad;
}

header{
    width: auto;
    min-height: 150px;
    margin:auto;
    padding: 10px;
    background-image: linear-gradient(to bottom, #F58718, #F17918, #ED691F, #EB4F26);
}
header > h1{
    color:#FDC04B;
    margin-top: 50px;
    padding-bottom: 10px;
}

nav{
    background-color: #EB4F26;
}
nav > a{
    color: #FDC04B;
}
nav > p{
    color: #000000;
    font-weight: bold;
    text-align: center;
    text-indent: 0%;
    padding: 10px 10px 5px 10px;
}

main{
    max-width: 900px;
    min-width: 220px;
    background-color: rgb(240, 228, 204);
    padding: 10px;
    margin: auto;
    box-shadow: 3px 3px 7px black;
    border-radius: 10px;
}
main > aside{
    background-color: #ff6a0076;
    list-style-position: inside;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

aside > p{
    padding: 10px;
    background-color: #EB4F26;
    border-radius: 10px 10px 0px 0px;
    margin: -10px -10px 10px -10px;
    font-weight: bold;
}

h1{
    text-align: center;
    font-size: 40px;
    color: rgba(255, 149, 0, 0.741);
    text-shadow: 1px 1px 4px rgba(255, 166, 0, 0.745);
    text-decoration: underline;
    padding: 10px;
}

h2{
   color: rgb(152, 46, 1);
   text-shadow: 0px 0px 1px black;
   background-image: linear-gradient(to right, #f87000, transparent);
   padding: 5px 5px 5px 0px;
   margin-left: -10px;
   text-indent: 5px;
}

h3{
    color: rgba(81, 81, 81, 0.476);
    text-shadow: 0px 0px 0.8px black;
    margin-left: -10px;
    margin-top: 10px;
    text-indent: 5px;
    padding: 5px 5px 5px 0px;
    background-image: linear-gradient(to right, #f87000, transparent);
}

a{
    text-decoration: none;
    color: #FDC04B;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    color: #1100ff;
}
a:active{
    color: #ffa600;
}

p{
    text-indent: 20px;
    line-height: 23px;

    padding: 5px 5px 5px 0px;
    text-align: justify;
    line-height: 28px;
 }

 div > p{
    display: none;
 }
div:hover > p{
    display: block;
    color: darkred;
    font-weight: bold;
}
div{
    width: 100px;
    border: 1px solid darkred;
    text-align: center;
    margin-bottom: 10px;
}

footer{
    background-color: #EB4F26;
    margin-top: 10px;
    padding: 5px;

}
footer > address{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 0.8em;
}

.no-ident{
    text-indent: 0px;
}